<p id="notice"><%= notice %></p>

<p>
  <strong>Planaccepteddate:</strong>
  <%= @city_source.planaccepteddate %>
</p>

<p>
  <strong>Location 1:</strong>
  <%= @city_source.location_1 %>
</p>

<p>
  <strong>Workitems:</strong>
  <%= @city_source.workitems %>
</p>

<p>
  <strong>Daysincity:</strong>
  <%= @city_source.daysincity %>
</p>

<p>
  <strong>Daysincitynumeric:</strong>
  <%= @city_source.daysincitynumeric %>
</p>

<p>
  <strong>Propertytype:</strong>
  <%= @city_source.propertytype %>
</p>

<p>
  <strong>Ispermitfinal:</strong>
  <%= @city_source.ispermitfinal %>
</p>

<p>
  <strong>Buildingpermitstatusdescription:</strong>
  <%= @city_source.buildingpermitstatusdescription %>
</p>

<p>
  <strong>Applicationnumber:</strong>
  <%= @city_source.applicationnumber %>
</p>

<p>
  <strong>Totalcost:</strong>
  <%= @city_source.totalcost %>
</p>

<p>
  <strong>Certificatedate:</strong>
  <%= @city_source.certificatedate %>
</p>

<p>
  <strong>Companyaddress:</strong>
  <%= @city_source.companyaddress %>
</p>

<p>
  <strong>Plancreateddate:</strong>
  <%= @city_source.plancreateddate %>
</p>

<p>
  <strong>Certificatecode:</strong>
  <%= @city_source.certificatecode %>
</p>

<p>
  <strong>Companycity:</strong>
  <%= @city_source.companycity %>
</p>

<p>
  <strong>Requiredcertificate:</strong>
  <%= @city_source.requiredcertificate %>
</p>

<p>
  <strong>Processnumber:</strong>
  <%= @city_source.processnumber %>
</p>

<p>
  <strong>Remsqft:</strong>
  <%= @city_source.remsqft %>
</p>

<p>
  <strong>Totalsqft:</strong>
  <%= @city_source.totalsqft %>
</p>

<p>
  <strong>Scopeofwork:</strong>
  <%= @city_source.scopeofwork %>
</p>

<p>
  <strong>Newadditioncost:</strong>
  <%= @city_source.newadditioncost %>
</p>

<p>
  <strong>Issueddate:</strong>
  <%= @city_source.issueddate %>
</p>

<p>
  <strong>Totaldaysinplanreview:</strong>
  <%= @city_source.totaldaysinplanreview %>
</p>

<p>
  <strong>Additionsqft:</strong>
  <%= @city_source.additionsqft %>
</p>

<p>
  <strong>Buildingpermitstatusreasondescription:</strong>
  <%= @city_source.buildingpermitstatusreasondescription %>
</p>

<p>
  <strong>Firstsubmissiondate:</strong>
  <%= @city_source.firstsubmissiondate %>
</p>

<p>
  <strong>Folionumber:</strong>
  <%= @city_source.folionumber %>
</p>

<p>
  <strong>Isprivateprovider:</strong>
  <%= @city_source.isprivateprovider %>
</p>

<p>
  <strong>Statusdate:</strong>
  <%= @city_source.statusdate %>
</p>

<p>
  <strong>Totaldaysinplanreviewnumeric:</strong>
  <%= @city_source.totaldaysinplanreviewnumeric %>
</p>

<p>
  <strong>Miami21zone:</strong>
  <%= @city_source.miami21zone %>
</p>

<p>
  <strong>Permitnumber:</strong>
  <%= @city_source.permitnumber %>
</p>

<p>
  <strong>Companyname:</strong>
  <%= @city_source.companyname %>
</p>

<p>
  <strong>Remodelingcost:</strong>
  <%= @city_source.remodelingcost %>
</p>

<p>
  <strong>Deliveryaddress:</strong>
  <%= @city_source.deliveryaddress %>
</p>

<p>
  <strong>Companyzip:</strong>
  <%= @city_source.companyzip %>
</p>

<%= link_to 'Edit', edit_city_source_path(@city_source) %> |
<%= link_to 'Back', city_sources_path %>
